body {
    background: #f4f2ec url(../imagens/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 1080px;
    margin: 0 auto;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover{
    color: #227115;
}

#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    text-indent: -9999px;
    display: block;
    background: url(../imagens/logo.png);
}

header {
    padding: 15px 0;
    height: 55px;
}

nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

nav ul li {
    float: left;
    
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}

#conteudo {
    width: 710px;
    float: left;
    margin-bottom: 20px;

}

aside {
   width: 350px;
   float: right;
   background: #ebe7dd;
   padding-bottom: 10px;
   margin-bottom: 20px;
}

section#visita {
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
    margin-top: 10px;
}

#galeria {
    padding: 0 23px 0 27px;
}

section#galeria a {
    display: block;
    background: url(../imagens/fundo-foto.png) no-repeat;
    float: left;
    padding: 18px 15px 17px 15px;
    margin: 10px 0 0 25px;
}

section#galeria img {
    margin-left: 2px;
    margin-top: 2px;
}

article#video {
    float: left;
    width: 310px;
    margin-left: 25px;
}

article#mapa {
    float: left;
    width: 310px;
    margin-left: 37px;
}

article#exposicoes {
    float: left;
    width: 310px;
    margin: 15px 0 0 25px;
}

article#historia {
    float: left;
    width: 310px;
    margin: 15px 0 0 37px;
}

h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}

h3 {
    color: #227115;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 15;
}

input {
    width: 80px;
    height: 20px;
    background: #fff;
    border: none;
    font-size: 1em;
}

input.campo {
    border: 1px solid #ada484;
    cursor: pointer;
}

button {
    background: #9b9271;
    color: white;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    width: 240px;
}

button.botao:hover {
    padding: 5px;
    color: black;
    cursor: pointer;
}

fieldset {
    text-decoration: none;
}

legend {
    position: relative;
    top: -12px;
}

footer {
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background: url(../imagens/fundo-rodape.png) no-repeat center top;
}

footer>p a {
    padding: 2px 10px;
}

footer>p a:hover {
    text-transform: uppercase;
    color: black;
    font-size: 1.1em;
    transition: all 0.7s;
}

footer a:hover {
    text-transform: uppercase;
    color: #ff8400;
    font-size: 1.1em;
    font-style: italic;
    transition: all 0.7s;
}
